# 데이터 입출력
### - csv, excel 파일에서 데이터 읽고 쓰기

In [1]:
import pandas as pd
from pandas import Series, DataFrame

## 1. csv 파일 읽기 - read_csv()

In [3]:
# 1) 기본 csv 파일 읽기
### data/ex1.csv 읽기 (컬럼명이 존재하는 csv 파일)
pd.read_csv('data/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# 2) sep 인자 활용하기 
### 구분자가 다른 파일(data/ex2.txt) 읽기 (sep 인자)
pd.read_csv('data/ex2.txt', sep= ' ')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
# 3) encoding 인자 활용하기 
### data/2020KBO야구.csv 파일 읽기
pd.read_csv('data/2020KBO야구.csv', encoding= 'cp949')

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [9]:
# 4) header, names 인자 활용하기 (컬럼명이 파일에 포함되어 있지 않은 경우)
pd.read_csv('data/2020KBO야구_컬럼명미포함.csv', encoding= 'cp949',
           header=None)

         0   1      2    3   4        5
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [11]:
pd.read_csv('data/2020KBO야구_컬럼명미포함.csv', encoding= 'cp949',
           names = ['선수명','팀명','타율','안타','홈런','연봉'])

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [13]:
# 5) 불필요한 줄은 제외하고 데이터 읽기 
# 5-1) skiprows를 이용하여, 특정 행을 읽지 않도록 함.
pd.read_csv('data/2020KBO야구_주석포함.csv', encoding= 'cp949',
           skiprows=[0,1,2],
           names = ['선수명','팀명','타율','안타','홈런','연봉'])

       선수명  팀명     타율   안타  홈런       연봉
0    페르난데스  두산  0.340  199  21  40000.0
1      허경민  두산  0.332  145   7  48000.0
2      오재일  두산  0.312  147  16  47000.0
3      최주환  두산  0.306  156  16  27000.0
4      박건우  두산  0.304  148  14  45000.0
..     ...  ..    ...  ...  ..      ...
254    김재현  SK  0.143    2   0   5600.0
255    화이트  SK  0.136    3   1      NaN
256    채현우  SK  0.130    3   0   3000.0
257    류효승  SK  0.125    1   1   2700.0
258    이거연  SK  0.125    1   0   2700.0

[259 rows x 6 columns]

In [17]:
# 5-2) comment 인자를 이용하여, 주석은 데이터로 읽지 않음.

In [15]:
pd.read_csv('data/2020KBO야구_주석포함.csv', encoding= 'cp949',
           comment='*',
           names = ['선수명','팀명','타율','안타','홈런','연봉'],
           skip_blank_lines=False)

       선수명   팀명     타율     안타    홈런       연봉
0      NaN  NaN    NaN    NaN   NaN      NaN
1    페르난데스   두산  0.340  199.0  21.0  40000.0
2      허경민   두산  0.332  145.0   7.0  48000.0
3      오재일   두산  0.312  147.0  16.0  47000.0
4      최주환   두산  0.306  156.0  16.0  27000.0
..     ...  ...    ...    ...   ...      ...
255    김재현   SK  0.143    2.0   0.0   5600.0
256    화이트   SK  0.136    3.0   1.0      NaN
257    채현우   SK  0.130    3.0   0.0   3000.0
258    류효승   SK  0.125    1.0   1.0   2700.0
259    이거연   SK  0.125    1.0   0.0   2700.0

[260 rows x 6 columns]

In [19]:
# 6) 용량이 매우 큰 파일 읽기

In [18]:
pd.read_csv('data/2020KBO야구.csv', encoding= 'cp949', nrows = 10)

     선수명  팀명     타율   안타  홈런     연봉
0  페르난데스  두산  0.340  199  21  40000
1    허경민  두산  0.332  145   7  48000
2    오재일  두산  0.312  147  16  47000
3    최주환  두산  0.306  156  16  27000
4    박건우  두산  0.304  148  14  45000
5    정수빈  두산  0.298  146   5  34000
6    최용제  두산  0.295   13   0   2800
7    김재호  두산  0.289  116   2  65000
8    안권수  두산  0.270   10   0   2700
9    박세혁  두산  0.269   97   4  23200

In [21]:
커서 = pd.read_csv('data/2020KBO야구.csv', encoding= 'cp949', chunksize = 10)

In [27]:
next(커서)

     선수명  팀명     타율   안타  홈런      연봉
50   최영진  삼성  0.297   30   1    8000
51   박해민  삼성  0.290  142  11   30000
52   강민호  삼성  0.287  102  19  125000
53   김성윤  삼성  0.286    2   0    2900
54   이성곤  삼성  0.281   39   5    3500
55  살라디노  삼성  0.280   37   6   70000
56   송준석  삼성  0.277   13   1    4000
57   이원석  삼성  0.268  108  13   30000
58   박승규  삼성  0.258   47   1    3200
59   김헌곤  삼성  0.248   63   3   19000

In [28]:
데이터목록 = []
for data in 커서:
    데이터목록.append(data)

In [29]:
데이터목록[2]

    선수명  팀명     타율  안타  홈런      연봉
80  변상권  키움  0.274  17   1    3700
81  임병욱  키움  0.270  10   0    8800
82  허정협  키움  0.268  84  10    3500
83   러셀  키움  0.254  62   2   54000
84  박동원  키움  0.250  81  12   22500
85  박주홍  키움  0.250   6   0    2700
86  박준태  키움  0.245  85   5    4500
87  전병우  키움  0.237  85   8    2900
88  김주형  키움  0.233  10   1    2700
89  박병호  키움  0.223  69  21  200000

In [11]:
# 7. 결과를 csv 파일로 저장하기 - to_csv()

In [30]:
data=pd.read_csv('data/2020KBO야구.csv', encoding= 'cp949')
result = data.pivot_table(index = '팀명',values = '안타', aggfunc = 'sum')

In [32]:
result.to_csv('data/팀별안타수.csv',encoding= 'cp949')

## 2. 엑셀 파일 읽기 (read_excel())

In [33]:
pd.read_excel('data/2020KBO야구.xlsx')

      선수명  팀명     타율   안타  홈런     연봉
0   페르난데스  두산  0.340  199  21  40000
1     허경민  두산  0.332  145   7  48000
2     오재일  두산  0.312  147  16  47000
3     최주환  두산  0.306  156  16  27000
4     박건우  두산  0.304  148  14  45000
5     정수빈  두산  0.298  146   5  34000
6     최용제  두산  0.295   13   0   2800
7     김재호  두산  0.289  116   2  65000
8     안권수  두산  0.270   10   0   2700
9     박세혁  두산  0.269   97   4  23200
10    김재환  두산  0.266  137  30  65000
11    조수행  두산  0.263   10   0   4500
12    권민석  두산  0.260   13   0   2700
13    이유찬  두산  0.258   23   0   3200
14    신성현  두산  0.250    1   0   4800
15    장승현  두산  0.250    5   0   3500
16    서예일  두산  0.240    6   0   3200
17    국해성  두산  0.233   20   3   4500
18    오재원  두산  0.232   36   5  30000
19    양찬열  두산  0.227    5   0   2700
20    김인태  두산  0.202   17   1   5000
21    백동훈  두산  0.188    3   0   3600
22    정상호  두산  0.163   14   0   7000

In [37]:
data = pd.read_excel('data/2020KBO야구.xlsx', sheet_name = ['한화', 'LG'])

In [39]:
type(data)

dict

In [40]:
data.keys()

dict_keys(['한화', 'LG'])

In [42]:
data['LG']

    선수명  팀명     타율   안타  홈런      연봉
0   손호영  LG  0.367   11   0    2700
1   김현수  LG  0.331  181  22  130000
2   신민재  LG  0.308    8   0    5000
3   오지환  LG  0.300  158  10   60000
4   박용택  LG  0.300   65   2   80000
5   이형종  LG  0.296   85  17   20000
6   채은성  LG  0.293  122  15   32000
7   홍창기  LG  0.279  114   5    3800
8   라모스  LG  0.278  120  38   30000
9   김용의  LG  0.271   19   1   10500
10  박재욱  LG  0.267    4   0    3500
11  김민성  LG  0.266   79   5   40000
12  유강남  LG  0.261  112  16   23000
13  이천웅  LG  0.256   80   3   28000
14  백승현  LG  0.250    7   0    3400
15  정주현  LG  0.247   81   4   12500
16  양석환  LG  0.246   29   3   21000
17  김호은  LG  0.243   25   2    2700
18  정근우  LG  0.240   37   1   35000
19  이성우  LG  0.234   18   3    8000
20  장준원  LG  0.217   13   1    3400
21  전민수  LG  0.200    1   0    5000
22  구본혁  LG  0.163   14   1    4000
23  이재원  LG  0.050    1   0    2700

In [44]:
pd.read_excel('data/2020KBO야구.xlsx', sheet_name = None)

{'두산':       선수명  팀명     타율   안타  홈런     연봉
 0   페르난데스  두산  0.340  199  21  40000
 1     허경민  두산  0.332  145   7  48000
 2     오재일  두산  0.312  147  16  47000
 3     최주환  두산  0.306  156  16  27000
 4     박건우  두산  0.304  148  14  45000
 5     정수빈  두산  0.298  146   5  34000
 6     최용제  두산  0.295   13   0   2800
 7     김재호  두산  0.289  116   2  65000
 8     안권수  두산  0.270   10   0   2700
 9     박세혁  두산  0.269   97   4  23200
 10    김재환  두산  0.266  137  30  65000
 11    조수행  두산  0.263   10   0   4500
 12    권민석  두산  0.260   13   0   2700
 13    이유찬  두산  0.258   23   0   3200
 14    신성현  두산  0.250    1   0   4800
 15    장승현  두산  0.250    5   0   3500
 16    서예일  두산  0.240    6   0   3200
 17    국해성  두산  0.233   20   3   4500
 18    오재원  두산  0.232   36   5  30000
 19    양찬열  두산  0.227    5   0   2700
 20    김인태  두산  0.202   17   1   5000
 21    백동훈  두산  0.188    3   0   3600
 22    정상호  두산  0.163   14   0   7000,
 'SK':     선수명  팀명     타율   안타  홈런        연봉
 0   김경호  SK  0.286   30   0    2900.0
 1   김성민  SK  0.286    4   2    2700.0
 2   고종욱  SK  0.283   77   3   17000.0
 3    로맥  SK  0.282  137  32   90000.0
 4   채태인  SK  0.281   45   7   10000.0
 5   오태곤  SK  0.274   64   5    9500.0
 6   김성현  SK  0.271   93   2   21000.0
 7   오준혁  SK  0.270   40   3    3000.0
 8    최정  SK  0.270  122  33  120000.0
 9    최항  SK  0.265   35   2    7500.0
 10  최지훈  SK  0.258  120   1    2700.0
 11  김강민  SK  0.253   73  12   35000.0
 12  유서준  SK  0.250    6   1    3100.0
 13  한동민  SK  0.249   48  15   25000.0
 14  박성한  SK  0.242   24   2    2700.0
 15  정의윤  SK  0.241   45   1   30000.0
 16  이흥련  SK  0.240   30   3    7000.0
 17  정진기  SK  0.238   30   2    4600.0
 18  최준우  SK  0.236   43   3    3100.0
 19  남태혁  SK  0.197   13   1    3000.0
 20  김창평  SK  0.192   15   0    3000.0
 21  윤석민  SK  0.192   14   3   18000.0
 22  이재원  SK  0.185   41   2  130000.0
 23  이현석  SK  0.178   18   2    3000.0
 24   정현  SK  0.152   17   2    3000.0
 25  김재현  SK  0.143    2   0    5600.0
 26  화이트  SK  0.136    3   1       NaN
 27  채현우  SK  0.130    3   0    3000.0
 28  류효승  SK  0.125    1   1    2700.0
 29  이거연  SK  0.125    1   0    2700.0,
 'NC':     선수명  팀명     타율   안타  홈런      연봉
 0   김기환  NC  0.500    1   0    2700
 1   이재율  NC  0.444    4   0    3000
 2   박민우  NC  0.345  161   8   52000
 3   양의지  NC  0.328  151  33  200000
 4   나성범  NC  0.324  170  34   50000
 5   강진성  NC  0.309  122  12    3800
 6   박석민  NC  0.306  109  14   70000
 7   이명기  NC  0.306  146   2   24000
 8   김형준  NC  0.306   22   3    5000
 9   모창민  NC  0.301   41   2   30000
 10  김찬형  NC  0.297   19   0    5800
 11  김태군  NC  0.292   33   1   20000
 12  알테어  NC  0.278  134  31   80000
 13  최정원  NC  0.275   11   0    2700
 14  노진혁  NC  0.274  117  20   14000
 15  권희동  NC  0.260   90  12   13500
 16  이원재  NC  0.258   34   4    7100
 17  윤수강  NC  0.250    1   0    3200
 18  김성욱  NC  0.221   43   8   12000
 19  김준완  NC  0.215   14   1    8000
 20  지석훈  NC  0.207   25   1   12500
 21  도태훈  NC  0.182    2   0    3200
 22  박준영  NC  0.152    7   0    2700
 23  이상호  NC  0.131    8   0   10000,
 'LG':     선수명  팀명     타율   안타  홈런      연봉
 0   손호영  LG  0.367   11   0    2700
 1   김현수  LG  0.331  181  22  130000
 2   신민재  LG  0.308    8   0    5000
 3   오지환  LG  0.300  158  10   60000
 4   박용택  LG  0.300   65   2   80000
 5   이형종  LG  0.296   85  17   20000
 6   채은성  LG  0.293  122  15   32000
 7   홍창기  LG  0.279  114   5    3800
 8   라모스  LG  0.278  120  38   30000
 9   김용의  LG  0.271   19   1   10500
 10  박재욱  LG  0.267    4   0    3500
 11  김민성  LG  0.266   79   5   40000
 12  유강남  LG  0.261  112  16   23000
 13  이천웅  LG  0.256   80   3   28000
 14  백승현  LG  0.250    7   0    3400
 15  정주현  LG  0.247   81   4   12500
 16  양석환  LG  0.246   29   3   21000
 17  김호은  LG  0.243   25   2    2700
 18  정근우  LG  0.240   37   1   35000
 19  이성우  LG  0.234   18   3    8000
 20  장준원  LG  0.217   13   1    3400
 21  전민수  LG  0.200    1   0    5000
 22  구본혁  LG  0.163   14   1    4000
 23  이재원  LG  0.050    1   0    2700,
 'KT':     선수명  팀명     타율   안타  홈런      연봉
 0   로하스  KT  0.349  192  47   80000
 1   강백호  KT  0.330  165  23   21000
 2   황재균  KT  0.312  169  21  120000
 3   조용호  KT  0.296  121   0    7000
 4   배정대  KT  0.289  154  13    4800
 5   박경수  KT  0.281   91  13   40000
 6   유한준  KT  0.280  108  11   50000
 7   장성우  KT  0.278  111  13   13500
 8   허도환  KT  0.264   14   0    6500
 9   박승욱  KT  0.264   29   1    8000
 10  문상철  KT  0.260   40   8    4000
 11  김민혁  KT  0.239   53   5    9000
 12  심우준  KT  0.235  112   3   13000
 13  강민국  KT  0.224   24   0    4000
 14  천성호  KT  0.203   14   0    2700
 15  강현우  KT  0.200    6   1    2700
 16  송민섭  KT  0.195    8   1    4700
 17  이홍구  KT  0.190   16   3    9000
 18  김병희  KT  0.143    3   1    3000,
 'KIA':     선수명   팀명     타율   안타  홈런      연봉
 0   류지혁  KIA  0.381   16   1   10500
 1   최형우  KIA  0.354  185  28  150000
 2   김주찬  KIA  0.333    6   1   40000
 3   김선빈  KIA  0.330  100   1   45000
 4   이창진  KIA  0.330   29   0    8500
 5   최원준  KIA  0.326  117   2    7000
 6    터커  KIA  0.306  166  32   55000
 7   나지완  KIA  0.291  136  17   60000
 8   나주환  KIA  0.279   57   6   12000
 9   황대인  KIA  0.276   32   4    3000
 10  김민식  KIA  0.251   53   2    8800
 11  홍종표  KIA  0.250   20   0    2700
 12  유민상  KIA  0.246   96   8    6000
 13  황윤호  KIA  0.243   17   0    5000
 14  오선우  KIA  0.239   16   4    3000
 15  김태진  KIA  0.236   62   1    9000
 16  김호령  KIA  0.232   32   4    8500
 17  고장혁  KIA  0.231    3   0    5000
 18  이진영  KIA  0.227    5   0    3400
 19  한승택  KIA  0.226   51   9    8000
 20  박찬호  KIA  0.223  107   3   10500
 21  백용환  KIA  0.220   20   5   10500
 22  이우성  KIA  0.203   12   0    4000
 23  최정용  KIA  0.196   11   1    3600
 24  김규성  KIA  0.178   28   3    2900
 25  문선재  KIA  0.167    1   0    4500
 26  장영석  KIA  0.129    4   0    7500
 27  최정민  KIA  0.111    1   0    3500
 28  김영환  KIA  0.000    0   0    3300,
 '한화':     선수명  팀명     타율   안타  홈런     연봉
 0   허관회  한화  0.500    1   0   2700
 1   김현민  한화  0.400    2   0   2700
 2   최승준  한화  0.333    1   0   4000
 3   최재훈  한화  0.301  102   3  20000
 4   이용규  한화  0.286  120   1  40000
 5   하주석  한화  0.286   75   2  14000
 6   김민하  한화  0.284   21   1   4500
 7   박정현  한화  0.279   17   1   2700
 8   정진호  한화  0.277   78   2  11300
 9   이해창  한화  0.269   32   3   5500
 10   반즈  한화  0.265   75   9  50000
 11  노수광  한화  0.251   73   1  21000
 12  정은원  한화  0.248   63   3  12000
 13  최인호  한화  0.236   30   0   2700
 14  송광민  한화  0.235   65   9  25000
 15  최진행  한화  0.234   50   8  16000
 16  오선진  한화  0.234   46   2  10500
 17  임종찬  한화  0.231   25   1   2700
 18  강경학  한화  0.228   44   4   7800
 19  양성우  한화  0.222    2   0   7000
 20  조한민  한화  0.220   11   0   2700
 21  노시환  한화  0.220   76  12   3300
 22  김태균  한화  0.219   48   2  50000
 23  김문호  한화  0.217   10   2   5000
 24  박상언  한화  0.217   10   0   2800
 25  노태형  한화  0.216   22   0   2700
 26  이도윤  한화  0.208    5   0   3000
 27  이성열  한화  0.203   46   8  50000
 28   호잉  한화  0.194   24   4  55000
 29  김회성  한화  0.167    3   0   6500
 30  유장혁  한화  0.167    7   0   3200
 31  정기훈  한화  0.161    5   0   2700
 32  김지수  한화  0.160    4   1   2700
 33  장진혁  한화  0.156    5   0   5800
 34  박한결  한화  0.150    3   0   3000
 35  장운호  한화  0.148    4   1   3800
 36  이동훈  한화  0.105    4   0   3300,
 '키움':     선수명  팀명     타율   안타  홈런      연봉
 0   임지열  키움  1.000    1   0    2700
 1   김은성  키움  0.500    2   0    2900
 2   이정후  키움  0.333  181  15   39000
 3   이지영  키움  0.309   81   0   30000
 4   김하성  키움  0.306  163  30   55000
 5   김혜성  키움  0.285  142   7   10000
 6   서건창  키움  0.277  134   5   35000
 7   김웅빈  키움  0.275   57   8    3700
 8   변상권  키움  0.274   17   1    3700
 9   임병욱  키움  0.270   10   0    8800
 10  허정협  키움  0.268   84  10    3500
 11   러셀  키움  0.254   62   2   54000
 12  박동원  키움  0.250   81  12   22500
 13  박주홍  키움  0.250    6   0    2700
 14  박준태  키움  0.245   85   5    4500
 15  전병우  키움  0.237   85   8    2900
 16  김주형  키움  0.233   10   1    2700
 17  박병호  키움  0.223   69  21  200000
 18  김규민  키움  0.208   21   1    5400
 19  이택근  키움  0.193   11   0    5000
 20  주효상  키움  0.190   16   0    4000
 21  박정음  키움  0.186    8   0    4300
 22  김수환  키움  0.182    2   0    2700
 23   모터  키움  0.114    4   1   20000,
 '롯데':     선수명  팀명     타율   안타  홈런      연봉
 0   강태율  롯데  0.455    5   2    2700
 1   신용수  롯데  0.429    3   0    2900
 2   손아섭  롯데  0.352  190  11  200000
 3   오윤석  롯데  0.298   50   4    4000
 4    정훈  롯데  0.295  121  11    6400
 5   이대호  롯데  0.292  158  20  250000
 6   안치홍  롯데  0.286  118   8   29000
 7   마차도  롯데  0.280  136  12   30000
 8   전준우  롯데  0.279  157  26   50000
 9   한동희  롯데  0.278  128  17    4700
 10  이병규  롯데  0.274   45   9    5000
 11  김재유  롯데  0.259   30   1    2900
 12  김민수  롯데  0.250    2   0    3000
 13  지성준  롯데  0.250    2   0    5700
 14  민병헌  롯데  0.233   72   2  125000
 15  김준태  롯데  0.225   69   5    3800
 16  김동한  롯데  0.221   15   0    4500
 17  신본기  롯데  0.217   23   2   12500
 18  강로한  롯데  0.190    4   0    5300
 19   허일  롯데  0.179   15   1    4100
 20  정보근  롯데  0.150   20   0    2900
 21  추재현  롯데  0.125    3   0    2700,
 '삼성':      선수명  팀명     타율   안타  홈런      연봉
 0    김호재  삼성  0.322   38   1    4000
 1    김동엽  삼성  0.312  129  20   13500
 2    구자욱  삼성  0.307  137  15   28000
 3    강한울  삼성  0.305   32   1   12000
 4    김상수  삼성  0.304  123   5   25000
 5    최영진  삼성  0.297   30   1    8000
 6    박해민  삼성  0.290  142  11   30000
 7    강민호  삼성  0.287  102  19  125000
 8    김성윤  삼성  0.286    2   0    2900
 9    이성곤  삼성  0.281   39   5    3500
 10  살라디노  삼성  0.280   37   6   70000
 11   송준석  삼성  0.277   13   1    4000
 12   이원석  삼성  0.268  108  13   30000
 13   박승규  삼성  0.258   47   1    3200
 14   김헌곤  삼성  0.248   63   3   19000
 15   김지찬  삼성  0.232   59   1    2700
 16   이학주  삼성  0.228   47   4    9000
 17   김응민  삼성  0.224   17   0    3200
 18   김도환  삼성  0.220    9   0    5000
 19   박찬도  삼성  0.219   21   1    5000
 20    팔카  삼성  0.209   41   8   10000
 21   박계범  삼성  0.195   32   3    5500
 22   이성규  삼성  0.181   39  10    4300
 23   김민수  삼성  0.174    4   0    4300
 24   김재현  삼성  0.143    2   0    5500
 25   양우현  삼성  0.130    3   0    2700
 26   김성표  삼성  0.125    1   0    2800}

In [45]:
야구데이터 = pd.read_excel('data/2020KBO야구.xlsx', sheet_name = None)

In [46]:
두산, SK, NC, LG, KT, KIA, 한화, 키움, 롯데, 삼성 = 야구데이터.values()

In [47]:
키움

    선수명  팀명     타율   안타  홈런      연봉
0   임지열  키움  1.000    1   0    2700
1   김은성  키움  0.500    2   0    2900
2   이정후  키움  0.333  181  15   39000
3   이지영  키움  0.309   81   0   30000
4   김하성  키움  0.306  163  30   55000
5   김혜성  키움  0.285  142   7   10000
6   서건창  키움  0.277  134   5   35000
7   김웅빈  키움  0.275   57   8    3700
8   변상권  키움  0.274   17   1    3700
9   임병욱  키움  0.270   10   0    8800
10  허정협  키움  0.268   84  10    3500
11   러셀  키움  0.254   62   2   54000
12  박동원  키움  0.250   81  12   22500
13  박주홍  키움  0.250    6   0    2700
14  박준태  키움  0.245   85   5    4500
15  전병우  키움  0.237   85   8    2900
16  김주형  키움  0.233   10   1    2700
17  박병호  키움  0.223   69  21  200000
18  김규민  키움  0.208   21   1    5400
19  이택근  키움  0.193   11   0    5000
20  주효상  키움  0.190   16   0    4000
21  박정음  키움  0.186    8   0    4300
22  김수환  키움  0.182    2   0    2700
23   모터  키움  0.114    4   1   20000

In [48]:
두산.to_excel('data/두산데이터.xlsx')